.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Reset margin */
    background-color: #f8f9fa;
    /* Optional: Background color for better visibility */
}

.form-content {
    width: 100%;
    max-width: 400px;
    /* Optional: Limit the width of the form */
    padding: 20px;
    background: #fff;
    /* Optional: Add a background color */
    border-radius: 10px;
    /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow */
}